In [1]:
# Importar pandas
import pandas as pd
import numpy as np
# Librerias para graficar
import matplotlib 
matplotlib.use('Qt5Agg')
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#pip install mysql-connector-python

In [3]:
# Conectar base de datos con MySQL
import mysql.connector
from mysql.connector import Error

Conexion = mysql.connector.connect(
    host='localhost',
    database='curso_python',
    user='root',
    password='Maracuya134',      
    port=3306)

In [4]:
Query = "SELECT * FROM curso_python.bmw_car_sales;"

In [5]:
db_bmw=pd.read_sql(Query, Conexion)

C:\Users\rrosm\AppData\Local\Temp\ipykernel_5636\2910469328.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  db_bmw=pd.read_sql(Query, Conexion)

In [6]:
# Analisis exploratorio de datos
db_bmw.head()   
db_bmw.info()
db_bmw.describe()  
db_bmw.isnull().sum()
db_bmw.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

0

In [7]:
#from ydata_profiling import ProfileReport

In [8]:
# Reporte HTML del data frame
#profile = ProfileReport(db_bmw, title="Reporte de datos de ventas de BMW", explorative=True)
#profile.to_file("bmw_car_sales_report.html")

# Primera exploración de datos

In [9]:
db_bmw.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low

In [10]:
# Estadisticas descriptivas basicas
db_bmw.describe()

               Year  Engine_Size_L     Mileage_KM      Price_USD  Sales_Volume
count  50000.000000   50000.000000   50000.000000   50000.000000  50000.000000
mean    2017.015700       3.247180  100307.203140   75034.600900   5067.514680
std        4.324459       1.009078   57941.509344   25998.248882   2856.767125
min     2010.000000       1.500000       3.000000   30000.000000    100.000000
25%     2013.000000       2.400000   50178.000000   52434.750000   2588.000000
50%     2017.000000       3.200000  100388.500000   75011.500000   5087.000000
75%     2021.000000       4.100000  150630.250000   97628.250000   7537.250000
max     2024.000000       5.000000  199996.000000  119998.000000   9999.000000

In [11]:
# Analisis de variables categoricas
## distibucion de los modelos vendidos
db_bmw['Model'].value_counts()

Model
7 Series    4666
i3          4618
i8          4606
3 Series    4595
5 Series    4592
X1          4570
X3          4497
X5          4487
M5          4478
X6          4478
M3          4413
Name: count, dtype: int64

In [12]:
# Graficar distribucion de modelos vendidos con grafico de barras
# plt.figure(figsize=(10,6))
# sns.countplot(data=db_bmw, x='Model', order=db_bmw['Model'].value_counts().index)
# plt.title('Distribución de Modelos Vendidos')
# plt.xlabel('Modelo')
# plt.ylabel('Cantidad Vendida')
# plt.xticks(rotation=45)
# plt.show()

In [13]:
# Analisis de distribucion por region 
region_counts = db_bmw['Region'].value_counts()
print(region_counts)
print("Distribución por región")
print(db_bmw['Region'].value_counts(normalize=True) * 100)

Region
Asia             8454
Middle East      8373
North America    8335
Europe           8334
Africa           8253
South America    8251
Name: count, dtype: int64
Distribución por región
Region
Asia             16.908
Middle East      16.746
North America    16.670
Europe           16.668
Africa           16.506
South America    16.502
Name: proportion, dtype: float64

In [14]:
# Analisis de tipo de combustible
fuel_counts = db_bmw['Fuel_Type'].value_counts()
print(fuel_counts)
print("Tipo de combustible")
print(db_bmw['Fuel_Type'].value_counts(normalize=True)*100)

Fuel_Type
Hybrid      12716
Petrol      12550
Electric    12471
Diesel      12263
Name: count, dtype: int64
Tipo de combustible
Fuel_Type
Hybrid      25.432
Petrol      25.100
Electric    24.942
Diesel      24.526
Name: proportion, dtype: float64

In [15]:
# Grafico de distribucion de precios
# plt.figure(figsize=(10,6))
# sns.histplot(db_bmw['Price_USD'], bins=30, kde=True)
# plt.title('Distribución de Precios de BMW Vendidos')
# plt.xlabel('Precio')
# plt.ylabel('Frecuencia')
# plt.show()

In [16]:
# fuel_group = db_bmw.groupby('Fuel_Type')['Sales_Volume'].sum()
# print(fuel_group)
# plt.figure(figsize=(10,6))
# sns.histplot(db_bmw['Price_USD'], bins=30, kde=True)
# plt.title('Distribución de Precios')
# plt.xlabel('Precio')
# plt.ylabel('Frecuencia')
# plt.show()

In [17]:

# plt_bmw = plt
# # si simplemente querías usar matplotlib.pyplot
# grouped_fuel=db_bmw.groupby('Fuel_Type')['Price_USD'].mean().reset_index()
# plt_bmw.figure(figsize=(8,5))
# #Grafico distribucion de precios
# sns.histplot(db_bmw['Price_USD'], bins=30, kde=True)
# plt_bmw.show()

In [18]:
#pip install PyQt5

In [19]:
plt_bmw = plt
# si simplemente querías usar matplotlib.pyplot
grouped_fuel=db_bmw.groupby('Fuel_Type')['Price_USD'].mean().reset_index()
plt_bmw.figure(figsize=(8,5))
#Grafico distribucion de precios
sns.histplot(db_bmw['Price_USD'], bins=30, kde=True)
plt_bmw.show()

In [20]:
db_bmw.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low

In [21]:
grouped_km = db_bmw.groupby('Mileage_KM')['Price_USD'].mean().reset_index()
plt_bmw.figure(figsize=(8,5))
sns.histplot(db_bmw['Price_USD'], bins=30, kde=True)
plt_bmw.show()

In [22]:
# Clasificacion de ventas
sales_counts = db_bmw['Sales_Classification'].value_counts()
print(sales_counts)
print("Clasificación de ventas")

Sales_Classification
Low     34754
High    15246
Name: count, dtype: int64
Clasificación de ventas

In [23]:
plt.pie(sales_counts, labels=sales_counts.index, autopct='%1.1f%%', startangle=140)
plt.show()

# Limpieza y transformación de datos

In [24]:
# Crear nueva columna de edad del vehiculo
current_year = 2025
db_bmw['Vehicle_Age'] = current_year - db_bmw['Year']
db_bmw.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Vehicle_Age
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,9
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,12
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,3
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,1
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,5

In [25]:
db_bmw['Vehicle_Age'].mean()

7.9843

In [26]:
# Crear categoria de precio por analisis de segmentacion 
# Utilizando la funcion pd.qcut para dividir en 3 categorias: Bajo, Medio, Alto
# db_bmw['Price_Category'] = pd.qcut(db_bmw['Price_USD'], q=4, labels=['Económico', 'Medio', 'Premium', 'Lujo'])
# db_bmw['Price_Category'].value_counts()

In [27]:
db_bmw.describe()

,Year,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Vehicle_Age
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,2017.015700,3.247180,100307.203140,75034.600900,5067.514680,7.984300
std,4.324459,1.009078,57941.509344,25998.248882,2856.767125,4.324459
min,2010.000000,1.500000,3.000000,30000.000000,100.000000,1.000000
25%,2013.000000,2.400000,50178.000000,52434.750000,2588.000000,4.000000
50%,2017.000000,3.200000,100388.500000,75011.500000,5087.000000,8.000000
75%,2021.000000,4.100000,150630.250000,97628.250000,7537.250000,12.000000
max,2024.000000,5.000000,199996.000000,119998.000000,9999.000000,15.000000

In [28]:
# Crear grafica histograma de distribucion de precios

plt.hist(db_bmw['Price_USD'], bins=20, color='blue', edgecolor='black')
plt.title('Histograma de Distribución de Precios')
plt.xlabel('Precio (USD)')
plt.ylabel('Frecuencia')
plt.show()

In [ ]:
# Eliminar columna Price_Category
#db_bmw.drop('Price_Category', axis=1, inplace=True)

KeyError: "['Price_Category'] not found in axis"

In [30]:
#Categoría por precio, economico, medio, alto
def categorize_price(price):
    if price < 20000:
        return 'Económico'
    elif 20000 <= price < 69999:
        return 'Medio'
    else:
        return 'Alto'
db_bmw['Price_Category'] = db_bmw['Price_USD'].apply(categorize_price)

In [31]:
db_bmw.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Vehicle_Age,Price_Category
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,9,Alto
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,12,Alto
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,3,Alto
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,1,Medio
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,5,Medio

In [32]:
db_bmw['Price_Category'].value_counts()

Price_Category
Alto     27817
Medio    22183
Name: count, dtype: int64

In [33]:
# Grafica histograma de distribucion del kilometraje
plt.hist(db_bmw['Mileage_KM'], bins=20, color='green', edgecolor='black')
plt.title('Histograma de Distribución del Kilometraje')
plt.xlabel('Kilometraje (KM)')
plt.ylabel('Frecuencia')
plt.show()

In [34]:
#Categoría por kilometraje, bajo, medio, alto
def categorize_km(km):
    if km < 50000:
        return 'Bajo'
    elif 50000 <= km < 199999:
        return 'Medio'
    else:
        return 'Alto'
db_bmw['Mileage_Category'] = db_bmw['Mileage_KM'].apply(categorize_km)

In [35]:
db_bmw.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Vehicle_Age,Price_Category,Mileage_Category
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,9,Alto,Medio
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,12,Alto,Medio
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,3,Alto,Bajo
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,1,Medio,Bajo
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,5,Medio,Medio

In [36]:
db_bmw[['Sales_Volume', 'Sales_Classification']]

       Sales_Volume Sales_Classification
0              8300                 High
1              3428                  Low
2              6994                  Low
3              4047                  Low
4              3080                  Low
...             ...                  ...
49995          8182                 High
49996          9816                 High
49997          8280                 High
49998          9486                 High
49999          1764                  Low

[50000 rows x 2 columns]

In [37]:
db_bmw.groupby('Sales_Classification')['Sales_Volume'].agg(['min','max','nunique'])

                       min   max  nunique
Sales_Classification
High                  7000  9999     2985
Low                    100  6999     6860

# Selección de columnas para el modelo

In [38]:
# Selecciona las variables categoricas excluyendo la variable objetivo
categorical_vars = db_bmw.select_dtypes(include=['object']).columns.tolist()
categorical_vars.remove('Sales_Classification')

In [ ]:
# Selecciona las variables numericas excluyendo la variable Sales_Classification
numerical_vars = db_bmw.select_dtypes(include=['int64', 'float64']).columns.tolist()
numerical_vars.remove('Sales_Volume')

In [39]:
# Crear nuevo dataframe
df_model = db_bmw.copy()

# One hot encoding y matriz de correlación

In [40]:
# Aplizar one hot encoding a las variables categoricas
df_encoded = pd.get_dummies(df_model, columns=categorical_vars, drop_first=True)
df_encoded.head()

,Year,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Vehicle_Age,Model_5 Series,Model_7 Series,Model_M3,...,Color_Grey,Color_Red,Color_Silver,Color_White,Fuel_Type_Electric,Fuel_Type_Hybrid,Fuel_Type_Petrol,Transmission_Manual,Price_Category_Medio,Mileage_Category_Medio
0,2016,3.5,151748,98740,8300,High,9,True,False,False,...,False,True,False,False,False,False,True,True,False,True
1,2013,1.6,121671,79219,3428,Low,12,False,False,False,...,False,True,False,False,False,True,False,False,False,True
2,2022,4.5,10991,113265,6994,Low,3,True,False,False,...,False,False,False,False,False,False,True,False,False,False
3,2024,1.7,27255,60971,4047,Low,1,False,False,False,...,False,False,False,False,False,False,True,False,True,False
4,2020,2.1,122131,49898,3080,Low,5,False,True,False,...,False,False,False,False,False,False,False,True,True,True

In [41]:
numeric_independent_cols=[col for col in df_encoded.columns 
                          if col != 'Sales_Classification' and df_encoded[col].dtype != 'object']
corr_matrix = df_encoded[numeric_independent_cols].corr()

In [42]:
plt.figure(figsize=(8,6))
sns.heatmap(corr_matrix, cmap='coolwarm', center=0)
plt.title('Matriz de Correlación')
plt.show()

In [ ]:
#pip install pycaret

Collecting pycaret
  Downloading pycaret-3.3.2-py3-none-any.whl (486 kB)
     -------------------------------------- 486.1/486.1 kB 3.4 MB/s eta 0:00:00
Requirement already satisfied: ipython>=5.5.0 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from pycaret) (9.7.0)
Collecting ipywidgets>=7.6.5
  Downloading ipywidgets-8.1.8-py3-none-any.whl (139 kB)
     -------------------------------------- 139.8/139.8 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.62.0 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from pycaret) (4.67.1)
Collecting numpy<1.27,>=1.21
  Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
     ---------------------------------------- 15.8/15.8 MB 4.2 MB/s eta 0:00:00
Collecting pandas<2.2.0
  Downloading pandas-2.1.4-cp311-cp311-win_amd64.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 3.3 MB/s eta 0:00:00
Requirement already satisfied: jinja2>=3 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from pycaret) (3.1.6)
Collecting scipy<=1.11.4,>=1.6.1
  Downloading scipy-1.11.4-cp311-cp311-win_amd64.whl (44.1 MB)
     ---------------------------------------- 44.1/44.1 MB 4.1 MB/s eta 0:00:00
Collecting joblib<1.4,>=1.2.0
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
     -------------------------------------- 302.2/302.2 kB 4.7 MB/s eta 0:00:00
Collecting scikit-learn>1.4.0
  Downloading scikit_learn-1.7.2-cp311-cp311-win_amd64.whl (8.9 MB)
     ---------------------------------------- 8.9/8.9 MB 4.9 MB/s eta 0:00:00
Collecting pyod>=1.1.3
  Downloading pyod-2.0.5-py3-none-any.whl (200 kB)
     -------------------------------------- 200.6/200.6 kB 2.0 MB/s eta 0:00:00
Collecting imbalanced-learn>=0.12.0
  Downloading imbalanced_learn-0.14.0-py3-none-any.whl (239 kB)
     -------------------------------------- 240.0/240.0 kB 3.7 MB/s eta 0:00:00
Collecting category-encoders>=2.4.0
  Downloading category_encoders-2.9.0-py3-none-any.whl (85 kB)
     ---------------------------------------- 85.9/85.9 kB 2.4 MB/s eta 0:00:00
Collecting lightgbm>=3.0.0
  Downloading lightgbm-4.6.0-py3-none-win_amd64.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 3.1 MB/s eta 0:00:00
Requirement already satisfied: numba>=0.55.0 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from pycaret) (0.61.0)
Requirement already satisfied: requests>=2.27.1 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from pycaret) (2.32.5)
Requirement already satisfied: psutil>=5.9.0 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from pycaret) (7.1.3)
Requirement already satisfied: markupsafe>=2.0.1 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from pycaret) (3.0.3)
Collecting importlib-metadata>=4.12.0
  Downloading importlib_metadata-8.7.0-py3-none-any.whl (27 kB)
Collecting nbformat>=4.2.0
  Downloading nbformat-5.10.4-py3-none-any.whl (78 kB)
     ---------------------------------------- 78.5/78.5 kB 2.2 MB/s eta 0:00:00
Collecting cloudpickle
  Downloading cloudpickle-3.1.2-py3-none-any.whl (22 kB)
Collecting deprecation>=2.1.0
  Downloading deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Collecting xxhash
  Downloading xxhash-3.6.0-cp311-cp311-win_amd64.whl (31 kB)
Collecting matplotlib<3.8.0
  Downloading matplotlib-3.7.5-cp311-cp311-win_amd64.whl (7.5 MB)
     ---------------------------------------- 7.5/7.5 MB 3.7 MB/s eta 0:00:00
Collecting scikit-plot>=0.3.7
  Downloading scikit_plot-0.3.7-py3-none-any.whl (33 kB)
Collecting yellowbrick>=1.4
  Downloading yellowbrick-1.5-py3-none-any.whl (282 kB)
     -------------------------------------- 282.6/282.6 kB 4.4 MB/s eta 0:00:00
Collecting plotly>=5.14.0
  Downloading plotly-6.5.0-py3-none-any.whl (9.9 MB)
     ---------------------------------------- 9.9/9.9 MB 2.5 MB/s eta 0:00:00
Collecting kaleido>=0.2.1
  Downloading kaleido-1.2.0-py3-none-any.whl (68 kB)
     ---------------------------------------- 69.0/69.0 kB 1.3 MB/s eta 0:00:00
Collecting schemdraw==0.15
  Downloading schemdraw-0.15-py3-none-any.whl (106 kB)
     -------------------------------------- 106.8/106.8 kB 2.1 MB/s eta 0:00:00
Collecting plotly-resampler>=0.8.3.1
  Downloading plotly_resampler-0.11.0-py3-none-any.whl (82 kB)
     ---------------------------------------- 82.7/82.7 kB 2.3 MB/s eta 0:00:00
Requirement already satisfied: statsmodels>=0.12.1 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from pycaret) (0.14.5)
Collecting sktime==0.26.0
  Downloading sktime-0.26.0-py3-none-any.whl (21.8 MB)
     ---------------------------------------- 21.8/21.8 MB 3.7 MB/s eta 0:00:00
Collecting tbats>=1.1.3
  Downloading tbats-1.1.3-py3-none-any.whl (44 kB)
     ---------------------------------------- 44.0/44.0 kB 2.1 MB/s eta 0:00:00
Collecting pmdarima>=2.0.4
  Downloading pmdarima-2.1.1-cp311-cp311-win_amd64.whl (722 kB)
     -------------------------------------- 722.6/722.6 kB 4.1 MB/s eta 0:00:00
Requirement already satisfied: packaging in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from sktime==0.26.0->pycaret) (25.0)
Collecting scikit-base<0.8.0
  Downloading scikit_base-0.7.8-py3-none-any.whl (130 kB)
     -------------------------------------- 130.1/130.1 kB 2.6 MB/s eta 0:00:00
Collecting scikit-learn>1.4.0
  Downloading scikit_learn-1.4.2-cp311-cp311-win_amd64.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 3.8 MB/s eta 0:00:00
Requirement already satisfied: patsy>=0.5.1 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from category-encoders>=2.4.0->pycaret) (1.0.2)
Collecting category-encoders>=2.4.0
  Downloading category_encoders-2.8.1-py3-none-any.whl (85 kB)
     ---------------------------------------- 85.7/85.7 kB 4.7 MB/s eta 0:00:00
  Downloading category_encoders-2.8.0-py3-none-any.whl (85 kB)
     ---------------------------------------- 85.7/85.7 kB 2.4 MB/s eta 0:00:00
  Downloading category_encoders-2.7.0-py3-none-any.whl (85 kB)
     ---------------------------------------- 85.4/85.4 kB 2.4 MB/s eta 0:00:00
Collecting threadpoolctl<4,>=2.0.0
  Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Collecting zipp>=3.20
  Downloading zipp-3.23.0-py3-none-any.whl (10 kB)
Requirement already satisfied: colorama>=0.4.4 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from ipython>=5.5.0->pycaret) (0.4.6)
Requirement already satisfied: decorator>=4.3.2 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from ipython>=5.5.0->pycaret) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from ipython>=5.5.0->pycaret) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from ipython>=5.5.0->pycaret) (0.19.2)
Requirement already satisfied: matplotlib-inline>=0.1.5 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from ipython>=5.5.0->pycaret) (0.2.1)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from ipython>=5.5.0->pycaret) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from ipython>=5.5.0->pycaret) (2.19.2)
Requirement already satisfied: stack_data>=0.6.0 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from ipython>=5.5.0->pycaret) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from ipython>=5.5.0->pycaret) (5.14.3)
Requirement already satisfied: typing_extensions>=4.6 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from ipython>=5.5.0->pycaret) (4.15.0)
Requirement already satisfied: comm>=0.1.3 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from ipywidgets>=7.6.5->pycaret) (0.2.3)
Collecting widgetsnbextension~=4.0.14
  Downloading widgetsnbextension-4.0.15-py3-none-any.whl (2.2 MB)
     ---------------------------------------- 2.2/2.2 MB 5.0 MB/s eta 0:00:00
Collecting jupyterlab_widgets~=3.0.15
  Downloading jupyterlab_widgets-3.0.16-py3-none-any.whl (914 kB)
     -------------------------------------- 914.9/914.9 kB 3.4 MB/s eta 0:00:00
Collecting choreographer>=1.1.1
  Downloading choreographer-1.2.1-py3-none-any.whl (49 kB)
     ---------------------------------------- 49.3/49.3 kB ? eta 0:00:00
Collecting logistro>=1.0.8
  Downloading logistro-2.0.1-py3-none-any.whl (8.6 kB)
Collecting orjson>=3.10.15
  Downloading orjson-3.11.4-cp311-cp311-win_amd64.whl (131 kB)
     -------------------------------------- 131.4/131.4 kB 3.8 MB/s eta 0:00:00
Collecting pytest-timeout>=2.4.0
  Downloading pytest_timeout-2.4.0-py3-none-any.whl (14 kB)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<3.8.0->pycaret) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<3.8.0->pycaret) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<3.8.0->pycaret) (4.60.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<3.8.0->pycaret) (1.4.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<3.8.0->pycaret) (12.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<3.8.0->pycaret) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from matplotlib<3.8.0->pycaret) (2.9.0.post0)
Collecting fastjsonschema>=2.15
  Downloading fastjsonschema-2.21.2-py3-none-any.whl (24 kB)
Collecting jsonschema>=2.6
  Downloading jsonschema-4.25.1-py3-none-any.whl (90 kB)
     ---------------------------------------- 90.0/90.0 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from nbformat>=4.2.0->pycaret) (5.9.1)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from numba>=0.55.0->pycaret) (0.44.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from pandas<2.2.0->pycaret) (2025.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from pandas<2.2.0->pycaret) (2025.2)
Collecting narwhals>=1.15.1
  Downloading narwhals-2.12.0-py3-none-any.whl (425 kB)
     -------------------------------------- 425.0/425.0 kB 4.4 MB/s eta 0:00:00
Collecting dash>=2.11.0
  Downloading dash-3.3.0-py3-none-any.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 3.1 MB/s eta 0:00:00
Collecting tsdownsample>=0.1.3
  Downloading tsdownsample-0.1.4.1-cp311-cp311-win_amd64.whl (1.0 MB)
     ---------------------------------------- 1.0/1.0 MB 4.4 MB/s eta 0:00:00
Collecting Cython!=0.29.18,!=0.29.31,>=0.29
  Downloading cython-3.2.1-cp311-cp311-win_amd64.whl (2.8 MB)
     ---------------------------------------- 2.8/2.8 MB 4.8 MB/s eta 0:00:00
Collecting pmdarima>=2.0.4
  Downloading pmdarima-2.1.0-cp311-cp311-win_amd64.whl (722 kB)
     -------------------------------------- 722.7/722.7 kB 5.1 MB/s eta 0:00:00
  Downloading pmdarima-2.0.4-cp311-cp311-win_amd64.whl (614 kB)
     -------------------------------------- 614.7/614.7 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: urllib3 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from pmdarima>=2.0.4->pycaret) (2.5.0)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from pmdarima>=2.0.4->pycaret) (65.5.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.27.1->pycaret) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.27.1->pycaret) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.27.1->pycaret) (2025.11.12)
Collecting simplejson>=3.19.3
  Downloading simplejson-3.20.2-cp311-cp311-win_amd64.whl (75 kB)
     ---------------------------------------- 75.9/75.9 kB 1.4 MB/s eta 0:00:00
Collecting Flask<3.2,>=1.0.4
  Downloading flask-3.1.2-py3-none-any.whl (103 kB)
     -------------------------------------- 103.3/103.3 kB 2.9 MB/s eta 0:00:00
Collecting Werkzeug<3.2
  Downloading werkzeug-3.1.3-py3-none-any.whl (224 kB)
     -------------------------------------- 224.5/224.5 kB 1.9 MB/s eta 0:00:00
Collecting retrying
  Downloading retrying-1.4.2-py3-none-any.whl (10 kB)
Requirement already satisfied: nest-asyncio in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from dash>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (1.6.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from jedi>=0.18.1->ipython>=5.5.0->pycaret) (0.8.5)
Requirement already satisfied: attrs>=22.2.0 in c:\users\rrosm\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (25.4.0)
Collecting jsonschema-specifications>=2023.03.6
  Downloading jsonschema_specifications-2025.9.1-py3-none-any.whl (18 kB)
Collecting referencing>=0.28.4
  Downloading referencing-0.37.0-py3-none-any.whl (26 kB)
Collecting rpds-py>=0.7.1
  Downloading rpds_py-0.29.0-cp311-cp311-win_amd64.whl (235 kB)
     -------------------------------------- 235.7/235.7 kB 4.8 MB/s eta 0:00:00
Requirement already satisfied: platformdirs>=2.5 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat>=4.2.0->pycaret) (4.5.0)
Requirement already satisfied: wcwidth in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=5.5.0->pycaret) (0.2.14)
Collecting pytest>=7.0.0
  Downloading pytest-9.0.1-py3-none-any.whl (373 kB)
     -------------------------------------- 373.7/373.7 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib<3.8.0->pycaret) (1.17.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from stack_data>=0.6.0->ipython>=5.5.0->pycaret) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from stack_data>=0.6.0->ipython>=5.5.0->pycaret) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\rrosm\appdata\roaming\python\python311\site-packages (from stack_data>=0.6.0->ipython>=5.5.0->pycaret) (0.2.3)
Collecting blinker>=1.9.0
  Downloading blinker-1.9.0-py3-none-any.whl (8.5 kB)
Collecting click>=8.1.3
  Downloading click-8.3.1-py3-none-any.whl (108 kB)
     -------------------------------------- 108.3/108.3 kB 6.1 MB/s eta 0:00:00
Collecting itsdangerous>=2.2.0
  Downloading itsdangerous-2.2.0-py3-none-any.whl (16 kB)
Collecting iniconfig>=1.0.1
  Downloading iniconfig-2.3.0-py3-none-any.whl (7.5 kB)
Collecting pluggy<2,>=1.5
  Downloading pluggy-1.6.0-py3-none-any.whl (20 kB)
Installing collected packages: fastjsonschema, zipp, xxhash, widgetsnbextension, Werkzeug, threadpoolctl, simplejson, scikit-base, schemdraw, rpds-py, retrying, pluggy, orjson, numpy, narwhals, logistro, jupyterlab_widgets, joblib, itsdangerous, iniconfig, deprecation, Cython, cloudpickle, click, blinker, tsdownsample, scipy, referencing, pytest, plotly, pandas, importlib-metadata, Flask, choreographer, scikit-learn, pytest-timeout, matplotlib, lightgbm, jsonschema-specifications, ipywidgets, dash, yellowbrick, sktime, scikit-plot, pyod, pmdarima, plotly-resampler, kaleido, jsonschema, imbalanced-learn, category-encoders, tbats, nbformat, pycaret
  Attempting uninstall: numpy
    Found existing installation: numpy 2.1.3
    Uninstalling numpy-2.1.3:
      Successfully uninstalled numpy-2.1.3
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'c:\Users\rrosm\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
ERROR: Could not install packages due to an OSError: [WinError 5] Acceso denegado: 'C:\\Users\\rrosm\\AppData\\Local\\Programs\\Python\\Python311\\Lib\\site-packages\\~-mpy.libs\\libscipy_openblas64_-c16e4918366c6bc1f1cd71e28ca36fc0.dll'
Consider using the `--user` option or check the permissions.


[notice] A new release of pip available: 22.3 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip