In [1]:
# Importar pandas
import pandas as pd
import numpy as np
# Librerias para graficar
import matplotlib 
matplotlib.use('Qt5Agg')
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#pip install mysql-connector-python

In [3]:
# Conectar base de datos con MySQL
import mysql.connector
from mysql.connector import Error

Conexion = mysql.connector.connect(
    host='localhost',
    database='curso_python',
    user='root',
    password='Maracuya134',      
    port=3306)

In [4]:
Query = "SELECT * FROM curso_python.bmw_car_sales;"

In [5]:
db_bmw=pd.read_sql(Query, Conexion)

C:\Users\rrosm\AppData\Local\Temp\ipykernel_23940\2910469328.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  db_bmw=pd.read_sql(Query, Conexion)

In [6]:
# Analisis exploratorio de datos
db_bmw.head()   
db_bmw.info()
db_bmw.describe()  
db_bmw.isnull().sum()
db_bmw.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

np.int64(0)

In [7]:
#from ydata_profiling import ProfileReport

In [8]:
# Reporte HTML del data frame
#profile = ProfileReport(db_bmw, title="Reporte de datos de ventas de BMW", explorative=True)
#profile.to_file("bmw_car_sales_report.html")

# Primera exploración de datos

In [9]:
db_bmw.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low

In [10]:
# Estadisticas descriptivas basicas
db_bmw.describe()

               Year  Engine_Size_L     Mileage_KM      Price_USD  Sales_Volume
count  50000.000000   50000.000000   50000.000000   50000.000000  50000.000000
mean    2017.015700       3.247180  100307.203140   75034.600900   5067.514680
std        4.324459       1.009078   57941.509344   25998.248882   2856.767125
min     2010.000000       1.500000       3.000000   30000.000000    100.000000
25%     2013.000000       2.400000   50178.000000   52434.750000   2588.000000
50%     2017.000000       3.200000  100388.500000   75011.500000   5087.000000
75%     2021.000000       4.100000  150630.250000   97628.250000   7537.250000
max     2024.000000       5.000000  199996.000000  119998.000000   9999.000000

In [11]:
# Analisis de variables categoricas
## distibucion de los modelos vendidos
db_bmw['Model'].value_counts()

Model
7 Series    4666
i3          4618
i8          4606
3 Series    4595
5 Series    4592
X1          4570
X3          4497
X5          4487
M5          4478
X6          4478
M3          4413
Name: count, dtype: int64

In [12]:
# Graficar distribucion de modelos vendidos con grafico de barras
# plt.figure(figsize=(10,6))
# sns.countplot(data=db_bmw, x='Model', order=db_bmw['Model'].value_counts().index)
# plt.title('Distribución de Modelos Vendidos')
# plt.xlabel('Modelo')
# plt.ylabel('Cantidad Vendida')
# plt.xticks(rotation=45)
# plt.show()

In [13]:
# Analisis de distribucion por region 
region_counts = db_bmw['Region'].value_counts()
print(region_counts)
print("Distribución por región")
print(db_bmw['Region'].value_counts(normalize=True) * 100)

Region
Asia             8454
Middle East      8373
North America    8335
Europe           8334
Africa           8253
South America    8251
Name: count, dtype: int64
Distribución por región
Region
Asia             16.908
Middle East      16.746
North America    16.670
Europe           16.668
Africa           16.506
South America    16.502
Name: proportion, dtype: float64

In [14]:
# Analisis de tipo de combustible
fuel_counts = db_bmw['Fuel_Type'].value_counts()
print(fuel_counts)
print("Tipo de combustible")
print(db_bmw['Fuel_Type'].value_counts(normalize=True)*100)

Fuel_Type
Hybrid      12716
Petrol      12550
Electric    12471
Diesel      12263
Name: count, dtype: int64
Tipo de combustible
Fuel_Type
Hybrid      25.432
Petrol      25.100
Electric    24.942
Diesel      24.526
Name: proportion, dtype: float64

In [15]:
# Grafico de distribucion de precios
# plt.figure(figsize=(10,6))
# sns.histplot(db_bmw['Price_USD'], bins=30, kde=True)
# plt.title('Distribución de Precios de BMW Vendidos')
# plt.xlabel('Precio')
# plt.ylabel('Frecuencia')
# plt.show()

In [16]:
# fuel_group = db_bmw.groupby('Fuel_Type')['Sales_Volume'].sum()
# print(fuel_group)
# plt.figure(figsize=(10,6))
# sns.histplot(db_bmw['Price_USD'], bins=30, kde=True)
# plt.title('Distribución de Precios')
# plt.xlabel('Precio')
# plt.ylabel('Frecuencia')
# plt.show()

In [17]:

# plt_bmw = plt
# # si simplemente querías usar matplotlib.pyplot
# grouped_fuel=db_bmw.groupby('Fuel_Type')['Price_USD'].mean().reset_index()
# plt_bmw.figure(figsize=(8,5))
# #Grafico distribucion de precios
# sns.histplot(db_bmw['Price_USD'], bins=30, kde=True)
# plt_bmw.show()

In [18]:
#pip install PyQt5

In [19]:
plt_bmw = plt
# si simplemente querías usar matplotlib.pyplot
grouped_fuel=db_bmw.groupby('Fuel_Type')['Price_USD'].mean().reset_index()
plt_bmw.figure(figsize=(8,5))
#Grafico distribucion de precios
sns.histplot(db_bmw['Price_USD'], bins=30, kde=True)
plt_bmw.show()

In [20]:
db_bmw.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low

In [21]:
grouped_km = db_bmw.groupby('Mileage_KM')['Price_USD'].mean().reset_index()
plt_bmw.figure(figsize=(8,5))
sns.histplot(db_bmw['Price_USD'], bins=30, kde=True)
plt_bmw.show()

In [22]:
# Clasificacion de ventas
sales_counts = db_bmw['Sales_Classification'].value_counts()
print(sales_counts)
print("Clasificación de ventas")

Sales_Classification
Low     34754
High    15246
Name: count, dtype: int64
Clasificación de ventas

In [23]:
plt.pie(sales_counts, labels=sales_counts.index, autopct='%1.1f%%', startangle=140)
plt.show()

# Limpieza y transformación de datos

In [24]:
# Crear nueva columna de edad del vehiculo
current_year = 2025
db_bmw['Vehicle_Age'] = current_year - db_bmw['Year']
db_bmw.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Vehicle_Age
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,9
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,12
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,3
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,1
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,5

In [25]:
db_bmw['Vehicle_Age'].mean()

np.float64(7.9843)

In [26]:
# Crear categoria de precio por analisis de segmentacion 
# Utilizando la funcion pd.qcut para dividir en 3 categorias: Bajo, Medio, Alto
# db_bmw['Price_Category'] = pd.qcut(db_bmw['Price_USD'], q=4, labels=['Económico', 'Medio', 'Premium', 'Lujo'])
# db_bmw['Price_Category'].value_counts()

In [27]:
db_bmw.describe()

,Year,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Vehicle_Age
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,2017.015700,3.247180,100307.203140,75034.600900,5067.514680,7.984300
std,4.324459,1.009078,57941.509344,25998.248882,2856.767125,4.324459
min,2010.000000,1.500000,3.000000,30000.000000,100.000000,1.000000
25%,2013.000000,2.400000,50178.000000,52434.750000,2588.000000,4.000000
50%,2017.000000,3.200000,100388.500000,75011.500000,5087.000000,8.000000
75%,2021.000000,4.100000,150630.250000,97628.250000,7537.250000,12.000000
max,2024.000000,5.000000,199996.000000,119998.000000,9999.000000,15.000000

In [28]:
# Crear grafica histograma de distribucion de precios

plt.hist(db_bmw['Price_USD'], bins=20, color='blue', edgecolor='black')
plt.title('Histograma de Distribución de Precios')
plt.xlabel('Precio (USD)')
plt.ylabel('Frecuencia')
plt.show()

In [ ]:
# Eliminar columna Price_Category
#db_bmw.drop('Price_Category', axis=1, inplace=True)

KeyError: "['Price_Category'] not found in axis"

In [30]:
#Categoría por precio, economico, medio, alto
def categorize_price(price):
    if price < 20000:
        return 'Económico'
    elif 20000 <= price < 69999:
        return 'Medio'
    else:
        return 'Alto'
db_bmw['Price_Category'] = db_bmw['Price_USD'].apply(categorize_price)

In [31]:
db_bmw.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Vehicle_Age,Price_Category
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,9,Alto
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,12,Alto
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,3,Alto
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,1,Medio
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,5,Medio

In [32]:
db_bmw['Price_Category'].value_counts()

Price_Category
Alto     27817
Medio    22183
Name: count, dtype: int64

In [33]:
# Grafica histograma de distribucion del kilometraje
plt.hist(db_bmw['Mileage_KM'], bins=20, color='green', edgecolor='black')
plt.title('Histograma de Distribución del Kilometraje')
plt.xlabel('Kilometraje (KM)')
plt.ylabel('Frecuencia')
plt.show()

In [34]:
#Categoría por kilometraje, bajo, medio, alto
def categorize_km(km):
    if km < 50000:
        return 'Bajo'
    elif 50000 <= km < 199999:
        return 'Medio'
    else:
        return 'Alto'
db_bmw['Mileage_Category'] = db_bmw['Mileage_KM'].apply(categorize_km)

In [35]:
db_bmw.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Vehicle_Age,Price_Category,Mileage_Category
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,9,Alto,Medio
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,12,Alto,Medio
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,3,Alto,Bajo
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,1,Medio,Bajo
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,5,Medio,Medio

In [36]:
db_bmw.dtypes

Model                    object
Year                      int64
Region                   object
Color                    object
Fuel_Type                object
Transmission             object
Engine_Size_L           float64
Mileage_KM                int64
Price_USD                 int64
Sales_Volume              int64
Sales_Classification     object
Vehicle_Age               int64
Price_Category           object
Mileage_Category         object
dtype: object

In [37]:
corr_matrix =db_bmw.select_dtypes(include=['int64','float64']).corr()

In [ ]:
# Matriz de correlación

plt.figure(figsize=(10,8))
sns.heatmap(corr_matrix, annot=True, fmt=".2f", cmap='coolwarm')
plt.title('Matriz de Correlación')  
plt.show()

### Interpretación de resultados de la matriz de correlación
#### Se puede observar que mientras que mayor sean los años que tiene el vehiculo, menor será su valor de reventa. Por otro lado, no existe una relación lineal fuerte entre precio y las otras variables numéricas del dataset.